<h1 class="text-center">Change password</h1>
<form action="/user/change-password" method="post" class="border border-primary border-2 rounded-4 p-5">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Old password</label>
    <input type="password" class="form-control" id="oldPassword" name="oldPassword">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">New password</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <br>
  <a href="/view/login">Login</a>
</form>